<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212527934203-0qgutc3u78qbdta46uepasnfc407mk18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212527934203-0qgutc3u78qbdta46uepasnfc407mk18</string>
	<key>API_KEY</key>
	<string>AIzaSyApzGR3XU3KPJHFkRBa-R0nqfRfYED4Wz4</string>
	<key>GCM_SENDER_ID</key>
	<string>212527934203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oktawiakalisz.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait310</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212527934203:ios:35888390b731f8fc3bde5e</string>
</dict>
</plist>